<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfixX">
    <div class="container text-center" >
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a routerLink="/">Inicio</a></li>
                            <li><a href="/#/compartir" target="_blank">Compartir</a></li>
                            <li><a href="/#/queesmiprogramateca" target="_blank">Que es mi programateca?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="https://www.facebook.com/lucianoferraricano" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook"></i></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a> -->
                        <a href="https://twitter.com/feyaluciano" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a> -->
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fab fa-youtube-play" aria-hidden="true"></i></a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-end" style="display: none;">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6" ng-show="false">
                <div class="single_widget_area">
                    <div class="footer_heading mb-30">
                        <h6>Subscribite</h6>
                    </div>
                    <div class="subscribtion_form">
                        <form action="#" method="post">
                            <input type="email" name="mail" class="mail" placeholder="Tu email">
                            <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="https://www.facebook.com/lucianoferraricano" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook"></i></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a> -->
                        <a href="https://twitter.com/feyaluciano" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a> -->
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fab fa-youtube-play" aria-hidden="true"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos no reservados 
                </p>
            </div>
        </div>
        
    </div>