<header class="header_area" style="margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;">
<app-mi-nav-menu></app-mi-nav-menu>
<!-- Header Meta Data -->
<!-- <div class="header-meta d-flex clearfix justify-content-end">
 
  <div class="search-area">
      <form action="#" method="post">
          <input type="search" name="search" id="headerSearch" placeholder="Type for search">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
  </div>
  
  <div class="favourite-area">
      <a href="#"><img src="img/core-img/heart.svg" alt=""></a>
  </div>
 
  <div class="user-login-info">
      <a href="#"><img src="img/core-img/user.svg" alt=""></a>
  </div>
  
  <div class="cart-area">
      <a href="#" id="essenceCartBtn"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
  </div>
</div> -->
</header>
