
<div class="col-12 col-lg-12" >
    <div class="single-blog-area mb-50">
        <img src="assets/img/categorias/{{imagen}}" alt="">
        <!-- Post Title -->
        <div class="post-title">
            <a href="#">{{tituloRecurso}}</a>
        </div>
        <!-- Hover Content -->
        <div class="hover-content">
            <!-- Post Title -->
            <!-- <div class="hover-post-title">
                <a href="#"></a>
            </div> -->
            <!-- <p [innerHtml]="cuerpoRecurso">   </p>   -->
           
            <p class="post-tXitle" style="font-weight: 600;color:black">--{{tiporecurso}}</p>   

            <p >{{cuerpoRecurso | resumenParrafo }}...</p>  

            

            
 
            
            

            <a href="#/recurso/{{idRecurso}}/{{tituloRecurso | urlsMejoradas}}">Continuar leyendo <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
