<div class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <!-- <div class="single-blog-post-thumb">
        <img src="img/bg-img/bg-8.jpg" alt="">
    </div> -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text" style="text-align: justify;texto-justify: inter-palabra;">
                        <h2>Qué es mi programateca?</h2>
                        <div >
                            <p> 
                                Cuando empecé en el desarrollo web y móvil, hace ya varios años, me di cuenta que existía y existe, 
                                en este mundo, infinidad de herramientas, recursos web, librerías, programas, lenguajes de programación, 
                                y varios y variados etcéteras. Entonces decidí armarme de una bitácora, donde almacenar todo lo que iba recopilando en el pasar del tiempo y que me era útil.
                            </p>
                            <p>Por ese entonces decidí desarrollar una web para almacenar toda esa info, y ya que en ese momento era el auge de las web apis, decidí realizarlo con esa tecnología, la hice entonces con webapi usando el lenguaje php (Dejo aquí dicha web).</p>
                            <p>Pasado el tiempo, y conforme iban apareciendo otras tecnologías, otros frameworks, etc, 
                                me dieron ganas de aprender Angular, en este caso Angular 9, y Laravel, entonces me puse manos a la obra,
                                 pero esta vez con un agregado, realice la web documentando paso a paso el desarrollo,
                                  forma que adopto cada vez que aprendo algo nuevo, algo que es complejo o con un cambio de paradigma, en este caso la programación orientada en componentes.</p>
                            <p>Esta documentación era algo privado, pero después pensé que quizá a alguien podía servirle, entonces aquí se los dejo en formato pdf por ahora, prometo pasarlo a html pronto.</p>
                            <p>Como dije, nunca pensé en compartirlo, por eso quizá hay desprolijidades, ciertas inconsistencias en la redacción etc., sepan disculpar.</p>
                            <p>En fin, esto es <a class="btn btn-info" href="../miprogramateca_descargas/MiProgramatecaTutorial.pdf" role="button">MiProgramatecaTutorial</a>, espero a alguien pueda serle útil.</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
